### VS Code ###
*.vscode/

### Packages ###
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

### OS ###
*.DS_Store*
*ehthumbs.db
*Icon?
*Thumbs.db

### IntelliJ IDEA ###
*target/
*.idea/
*.iws
*.iml
*.ipr

### Eclipse IDEA ###
.metadata

### Logging ###
*.log

### Database ###
db/